menu "XBurst Platforms"
	depends on ARCH_XBURST



config SYS_SOC
	default "t20" if SOC_T20

choice
	prompt "XBurst SoC select"

config SOC_T20
	bool "T20"
	help
	  This supports T20 family of microcontrollers.

endchoice

config SYS_BOARD
	default "isvp_t20" if SOC_T20

config SYS_VENDOR
	default "ingenic" if SOC_T20

config SYS_CONFIG_NAME
	default "isvp_t20"

choice
	prompt "Board select"

config TARGET_T20
	bool "T20"
	depends on SOC_T20
	help
	  T20

endchoice



endmenu
