CONFIG_MIPS=y
CONFIG_ARCH_XBURST=y
CONFIG_SOC_T20=y
CONFIG_TARGET_T20=y
CONFIG_SYS_TEXT_BASE=0x80100000

CONFIG_SPL_SFC_SUPPORT=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_SFC_NOR=y
CONFIG_JZ_MMC_MSC0=y
CONFIG_DDR2_128M=y
